<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
</head>
<body>
	<div style="margin-top: 200px;" class="d-flex justify-content-center align-items-center" id="main">
		<h1
			class="mr-3 pr-3 align-top border-right inline-block align-content-center">OOPS</h1>
		<div class="inline-block align-middle">
			<h2 class="font-weight-normal lead" id="desc">Erro inesperado, tente novamente:</h2>
		</div>
	</div>	
	<div align="center" style="margin-top: 40px;" lass="btn-group" role="group" aria-label="Basic example">
		<a class="btn btn-primary" href="/franquias" role="button">Franquias</a>
		<a class="btn btn-primary" href="/encomendas" role="button">Encomendas</a>
		<a class="btn btn-primary" href="/funcionarios" role="button">Funcionários</a>
	</div>
</body>
</html>