<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Transportadora Pão com Ovo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<div align="center" style="font-family: Arial;">
		<nav class="navbar navbar-dark bg-primary"
			style="box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3); justify-content: left;">
			<a class="btn btn-primary" href="/funcionarios" role="button">Voltar</a> 
			<h6 style="margin-top: 8px; margin-left: 20px; color: white; text-align: center;">Editar funcionario</h6>
		</nav>
		<br />
		
		<tr>
			<svg style="width:40px;height:40px;" viewBox="0 0 24 24">
			    <path fill="#2980b9" 
					d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
			    />
			</svg>
			<td>
				<h3 style="color: rgba(0, 0, 0, .65)">Editar funcionário</h3>
			</td>
		</tr>
		
		<form th:action="@{/funcionarios/editar}" method="post">
			<div style="box-shadow: 0 2px 10px 0 rgba(0,0,0,.15); padding: 35px; border-radius: 10px; margin-top: 30px">
				<table cellpadding="10">
					<tr>
						<td><input type="hidden" th:field="${funcionario.id}" readonly="readonly" class="form-control"/></td>
						<td><input type="hidden" th:field="${funcionario.senha}" class="form-control"/></td>
					</tr>
					<tr>
						<td>Nome:</td>
						<td><input type="text" th:field="${funcionario.nome}" class="form-control"/></td>
					</tr>
					<tr>
						<td>Usuário:</td>
						<td><input type="text" th:field="${funcionario.usuario}" class="form-control"/></td>
					</tr>					
					<tr>
						<td>Administrador</td>
						<td>
							<input th:if="${funcLogado != null AND funcLogado.adm}" type="checkbox" th:field="${funcionario.adm}"/>						
							<input th:unless="${funcLogado != null AND funcLogado.adm}" type="checkbox" th:field="${funcionario.adm}" onclick="return false;"/>
						</td>
					</tr>
					<tr>
						<td>Franquia</td>
						<td>
							<select th:field="${funcionario.franquia}" class="form-control">						
								<option th:each="franquias: ${franquias}" th:value="${franquias.id}" th:text="${franquias.nome}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td><button class="btn btn-primary" type="submit">Editar</button></td>						
					</tr>
				</table>
			</div>			
		</form>
		
		<div style="width: 400px; margin-top: 10px;" class="alert alert-danger" th:if="${#fields.hasErrors('funcionario.*') OR not #strings.isEmpty(mensagem)}">
			<div th:if="${#fields.hasErrors('funcionario.*')}" th:each="err : ${#fields.errors('funcionario.*')}">
				<span th:text="${err}"></span>
			</div>
			<div th:if="${not #strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}"></span>
			</div>
		</div> 
		
	</div>
</body>
</html>